# PHP
php/conf/*
php/php*/conf/.ssh/*

# NGINX
vhosts/*.conf
!vhosts/conf

# STORAGE
storage/*

# CACHE
cache/*

# GENERAL
.env
.idea

docker-compose.yml

!**/.gitkeep
!**/*.dist
