version: '2'

services:
  php:
    container_name: php
    build: ./php/php74
    ports:
      - 9000
    volumes:
      - ${DEV_PATH}:${SERVER_PATH}
      - ./${CACHE_PATH}/composer:/root/.composer/cache
      - ./php/conf/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./php/conf/composer_auth.json:/root/.composer/auth.json
      - ./php/conf/.gitconfig:/root/.gitconfig
      - ./php/conf/crontab:/etc/cron.d/crontab
    networks:
      - backend
      - frontend
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ${DEV_PATH}:${SERVER_PATH}
      - ./vhosts:/etc/nginx/conf.d
    depends_on:
      - php
    networks:
      - frontend
  mysql:
    container_name: mysql
    image: mysql:${MYSQL_VERSION}
    volumes:
      - ./${MYSQL_LOCAL_STORAGE}/${MYSQL_VERSION}/data:/var/lib/mysql
      - ./${DUMP_PATH}:/var/dump-path
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - backend
  pma:
    container_name: pma
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8080:80"
    networks:
      - backend
      - frontend
    depends_on:
      - mysql
  livereload:
    image: devcrea/livereload
    container_name: livereload
    ports:
      - "35729:35729"
    volumes:
      - ${DEV_PATH}/project/public/css:/usr/src/livereload-watch/project
  maildev:
    container_name: maildev
    restart: always
    image: maildev/maildev
    ports:
      - "1080:80"
      - "1025:25"
    networks:
      - backend
      - frontend
    depends_on:
      - pma
  elastic:
    container_name: elastic
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
    environment:
      cluster.name: Local-cluster
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: -Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./${ELASTIC_LOCAL_STORAGE}/${ELASTIC_VERSION}/data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - backend
      - frontend

networks:
  frontend:
  backend:
